<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="css/analysis.css" th:href="@{/css/analysis.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
<nav>
    <img class="logo" src="/images/logo-removebg-preview.png" th:src="@{/images/logo-removebg-preview.png}" alt="Hanze Logo">
    <ul class="nav__links">
        <li><a class="fileButton panelButtons">New Files</a></li>
        <li><a class="projectButton panelButtons">Personal Files</a></li>
        <li><a class="analysisButton panelButtons">Analysis</a></li>
        <li><a class="logoutButton">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <div id="analysis-panel" class="analysis">Analysis</div>
</div>

<script type="text/javascript">
    var del = "<span id='readDelete'><svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-x' width='20' height='20' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(160,160,160)' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg></span>";

    $(document).on('click', ".analysisButton", function () {
        url = "analysis";
        var link = document.createElement('a');
        link.href = url;
        link.click()
    });
    $(document).on('click', ".fileButton", function () {
        url = "welcomeshow";
        var link = document.createElement('a');
        link.href = url;
        link.click()
    });
    $(document).on('click', ".projectButton", function () {
        url = "personal_tab";
        var link = document.createElement('a');
        link.href = url;
        link.click()
    });
</script>
</body>
</html>