<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="css/analysis.css" th:href="@{/css/analysis.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
<nav>
    <img class="logo" src="/images/logo-removebg-preview.png" th:src="@{/images/logo-removebg-preview.png}" alt="Hanze Logo">
    <ul class="nav__links">
        <li><a class="fileButton panelButtons">New Files</a></li>
        <li><a class="projectButton panelButtons">Personal Files</a></li>
        <li><a class="analysisButton panelButtons">Analysis</a></li>
        <li><a class="logoutButton">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <div id="analysis-panel" class="analysis">Analysis</div>
</div>

<script type="text/javascript">
    var del = "<span id='readDelete'><svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-x' width='20' height='20' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(160,160,160)' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg></span>";
    $("#project-panel").hide()
    $("#analysis-panel").hide()
    $(".existing-project").hide();
    $('.all-projects').hide();
    $('.newFiles .addFiles').hide();

    function createProject() {
        var name = $('#projectname').val();
        if (name.length < 1) {
            alert("Please give your project a name!");
            return;
        }
        // let name = document.getElementById("projectname").value;
        // if (name.length < 1) {
        //     window.alert("Please give your project a name!")
        //     return;
        // }
        var url = `createproject?files=thiswillbeafile.fastq&files=thiswillbeonetoo.fastq&name=${name}`;
        var link = document.createElement('a');
        link.href = url;
        link.click();
    }

    function getFiles() {
        //URL TO DOWNLOAD MULTI FILES
        url = "download?allFiles=testplaceholder0.fastq.gz&allFiles=testplaceholder0.fastq.gz";
        // URL TO DOWNLOAD ONE FILE
        // url = "download?allFiles=testplaceholder0.fastq.gz";
        // myvar = [];
        // var url = "download?";
        // $.each($(".inputs .reads").find("p"), function(){
        //     url = url + "allFiles=" + $(this).html().substring(0, $(this).html().indexOf('<spa')) + "&";
        // });
        var link = document.createElement('a');
        link.href = url;
        // link.id = 'someLink'
        //link.href = url.slice(0,-1);
        link.click()
    }
    function filterFileFunction() {
        var input = $("#filterFileInput").val().toUpperCase();
        $.each($("#current-files li"), function(){
            if ($(this).find(".fileName").html().toUpperCase().indexOf(input) >= 0) {
                $(this).show()
            } else {
                $(this).hide()
            }
        });
    };
    function filterPersonalFunction() {
        var input = $("#filterPersonalInput").val().toUpperCase();
        $.each($(".personal-file-list .file-container"), function(){
            if ($(this).find(".name").html().toUpperCase().indexOf(input) >= 0) {
                $(this).show()
            } else {
                $(this).hide()
            }
        });
    };
    function filterProjectFunction () {
        var input = $("#filterProjectsInput").val().toUpperCase();
        $.each($(".personal-projects .project .title .projectName").find('h4'), function(){
            if ($(this).html().toUpperCase().indexOf(input) >= 0) {
                $(this).parent().parent().parent().show()
            } else {
                $(this).parent().parent().parent().hide()
            }
        });
    };
    $(document).ready(function(){
        $('#file-filters').on('change', function() {
            var value = $(this).val();
            if (value == 0){
                $.each($("#current-files li"), function(){
                    $(this).show();
                });
            }
            if (value == 1) {
                $.each($("#current-files li"), function(){
                    if ($(this).find('.fileName').hasClass('none-used')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
            if (value == 2) {
                $.each($("#current-files li"), function(){
                    if ($(this).find('.fileName').hasClass('low-used')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
            if (value == 3) {
                $.each($("#current-files li"), function(){
                    if ($(this).find('.fileName').hasClass('medium-used')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
            if (value == 4) {
                $.each($("#current-files li"), function(){
                    if ($(this).find('.fileName').hasClass('high-used')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
        $(document).on('click', ".maximize", function () {
            $.each($(this).parent().parent().parent().find('.project-edit'), function(){
                $(this).addClass('show');
                $(this).parent().find('.maximize').removeClass('active');
                $(this).parent().find('.minimize').addClass('active');
            });
        });
        $(document).on('click', ".minimize", function () {
            $.each($(this).parent().parent().parent().find('.project-edit'), function(){
                $(this).removeClass('show');
                $(this).parent().find('.maximize').addClass('active');
                $(this).parent().find('.minimize').removeClass('active');
            });
        });$(document).on('click', ".analysisButton", function () {
            url = "analysis";
            var link = document.createElement('a');
            link.href = url;
            link.click()
        });
        $(document).on('click', ".fileButton", function () {
            url = "welcomeshow";
            var link = document.createElement('a');
            link.href = url;
            link.click()
        });
        $(document).on('click', ".projectButton", function () {
            url = "personal_tab";
            var link = document.createElement('a');
            link.href = url;
            link.click()
        });
        $(document).on('click', ".addFiles", function () {
            $.each($("#current-files li").filter('.selected'), function(){
                $(".chosen-content .files").append("<p class='file-name'>" + $(this).find('.fileName').html() + del + "</p>");
                $(this).removeClass("selected");
            });
            $('.newFiles .addFiles').hide();
        });
        $(document).on('click', '.project-button.existing', function () {
            document.getElementById("add-button-text").textContent = "Add files to project";
            $(this).parent().find(".project-button").removeClass("active");
            $(this).addClass('active');
            $(".new-project").hide();
            $(".existing-project").show();
        });
        $(document).on('click', '.project-button.new', function () {
            document.getElementById("add-button-text").textContent = "Add project to your account";
            $(this).parent().find(".project-button").removeClass("active");
            $(this).addClass('active');
            $(".existing-project").hide();
            $(".new-project").show();
        });
        $(document).on('click', '#readDelete', function () {
            $(this).parent().remove();
        });
        $(document).on('click', '.add-button', function () {
            var fileList = [];
            let elementList = document.getElementsByClassName("file-name");
            for (var i = 0; i < elementList.length; i++) {
                fileList.push(elementList[i].textContent)
            }
            let exists = document.getElementById("add-button-text").textContent === "Add files to project";
            if (!exists) {
                var name = $('#projectname').val();
                if (name < 1) {
                    alert('Please type in a project name');
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: 'createproject',
                    data: {projectname: [name], files: fileList},
                    success: function () {
                        alert(`Successfully added ${name} to your account with ${fileList.length} files!`);
                        let select = document.getElementById('projects-name');
                        var opt = document.createElement('option');
                        opt.value = i;
                        opt.innerHTML = name;
                        select.appendChild(opt);
                    },
                    error: function () {
                        alert("This project already exists!");
                    }
                });
            } else {
                var e = document.getElementById("projects-name");
                var name = e.options[e.selectedIndex].text;
                if (fileList.length < 1) {
                    alert("Please select at least 1 file!")
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: 'addfilestoproject',
                    data: {projectname: [name], files: fileList},
                    success : function (){
                        alert(`Successfully added the ${fileList.length} files to ${name}!`);
                    },
                    error : function (){
                        alert("There was an error, please contact support!");
                    }
                });
            }
        });
        $(document).on('click', '.titles .all-button', function () {
            $(this).addClass('active');
            $('.titles .project-button').removeClass('active');
            $('.all-projects').hide();
            $('.all-personal-files').show();
        });
        $(document).on('click', '.titles .project-button', function () {
            $(this).addClass('active');
            $('.titles .all-button').removeClass('active');
            $('.all-projects').show();
            $('.all-personal-files').hide();
        });
        $(document).on('click', '.del-button', function () {
            var name = $(this).parent().find('.name').html();
            $(this).parent().fadeOut(200, function() {
                $(this).parent().remove();
            });
            $.ajax({
                type: 'GET',
                url: 'deletefile',
                data: {fileName: name},
                success : function (){
                    alert("Succes")
                },
                error : function (){
                    alert("Something went wrong");
                }
            });
        });
        $(document).on('click', '.del-project', function () {
            var projectName = $(this).parent().find('.projectName').find('h4').html();
            $(this).parent().parent().remove();
            $.ajax({
                type: 'GET',
                url: 'projectdelete',
                data: {projectName: projectName},
                success : function (){
                    alert("Succes");
                },
                error : function (){
                    alert("Something went wrong");
                }
            });
        });
        $(document).on('click', '.change-button', function () {
            var fileName = $(this).parent().find('#filename').val();
            var read = $(this).parent().find('#read').val();
            var label = $(this).parent().find('#label').val();
            if (fileName.length === 0 ){
                fileName = $(this).parent().parent().find('.file-info').find('.name').html();
            }
            if (label.length === 0 ){
                label = $(this).parent().parent().find('.file-info').find('.label').html();
            }
            if (read.length === 0 ){
                read = $(this).parent().parent().find('.file-info').find('.read').html();
            }
            $.ajax({
                type: 'GET',
                url: 'editfile',
                data: {fileInfo: [fileName, read, label]},
                success : function (){
                    alert("Succes");
                },
                error : function (){
                    alert("Something went wrong");
                }
            });

            console.log(fileName);
            console.log(read);
            console.log(label);
        });
        $(document).on('click', '.edit-button', function () {
            $(this).parent().parent().find('.file-edit').toggleClass('show');
        });
        $(function(){
            $("#current-files li").draggable({
                cursor: 'move',
                helper: function(){
                    var selected = $("#current-files li.selected");
                    if (selected.length == 0){
                        selected = $(this).addClass('selected');
                    }
                    var container = $('<div/>').attr('id', 'draggingContainer');
                    container.append(selected.clone().removeClass("selected"));
                    return container;
                }
            });
            $(".files").droppable({
                drop: function(event, ui) {
                    $.each($("#current-files li").filter('.selected'), function(){
                        $(".chosen-content .files").append("<p class='file-name'>" + $(this).find('.fileName').html() + del + "</p>");
                        $(this).removeClass("selected");
                    });
                    if ($('.selected').length >= 1) {
                        $('.newFiles .addFiles').show();
                    } else {
                        $('.newFiles .addFiles').hide();
                    }
                }
            });
        });

        lastChecked = null;
        $(document).on('click', "#current-files li", function (e) {
            if (e.ctrlKey){
                $(this).toggleClass("selected");
            }
            if ($('.selected').length >= 1) {
                $('.newFiles .addFiles').show();
            } else {
                $('.newFiles .addFiles').hide();
            }
            if(!lastChecked){
                lastChecked = this;
                return;
            }
            if (e.shiftKey){
                var from = $("#current-files li").index(this);
                var to = $("#current-files li").index(lastChecked);
                var start = Math.min(from, to);
                var end = Math.max(from, to) + 1;
                $.each($("#current-files li").slice(start, end).filter(':not(.selected)'), function(){
                    $(this).addClass("selected");
                });
                if ($('.selected').length >= 1) {
                    $(".addFiles").show();
                } else {
                    $(".addFiles").hide();
                }
            }
            lastChecked = null;
        });
    });
</script>
</body>
</html>