<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Download</title>
    <link rel="stylesheet" href="css/download.css" th:href="@{/css/download.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
<nav>
    <img class="logo" src="/images/logo-removebg-preview.png" th:src="@{/images/logo-removebg-preview.png}" alt="Hanze Logo">
    <ul class="nav__links">
        <li><a class="fileButton panelButtons">New Files</a></li>
        <li><a class="projectButton panelButtons">Personal Files</a></li>
        <li><a class="analysisButton panelButtons">Analysis</a></li>
        <li><a class="logoutButton">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <div id="list-panel" class="newFiles">
        <div class="fileData" th:each="files : ${filesList}" th:inline="text">
            <div class="fileName">[[${files.fileName}]]</div>
            <div class="read">Read</div>
            <div class="label">Label</div>
            <div class="downloadIcon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                    <polyline points="7 11 12 16 17 11"></polyline>
                    <line x1="12" y1="4" x2="12" y2="16"></line>
                </svg>
            </div>
        </div>
    </div>
    <div id="project-panel" class="personal">Personal</div>
    <div id="analysis-panel" class="analysis">Analysis</div>
</div>

<script type="text/javascript">
    $("#project-panel").hide()
    $("#analysis-panel").hide()
    $(document).ready(function(){
        $(".fileButton").click(function(){
            $("#list-panel").show()
            $("#project-panel").hide()
            $("#analysis-panel").hide()
        });
        $(".projectButton").click(function(){
            $("#list-panel").hide()
            $("#project-panel").show()
            $("#analysis-panel").hide()
        });
        $(".analysisButton").click(function(){
            $("#list-panel").hide()
            $("#project-panel").hide()
            $("#analysis-panel").show()
        });
        $(document).on('click','.downloadIcon', function() {
            $.ajax({
                url: 'download',
                type: 'POST',
                //data: {json: [$(this).parent().find(".fileName").html()]},
                data : {json: ["testplaceholder0.fastq.gz"]},
                success: function (result) {
                    console.log(result);
                },
                error: function () {
                    alert('Something went wrong');
                }
            });
        });
    });
</script>

</body>
</html>