<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="css/simple.css" th:href="@{/css/simple.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
<nav>
    <img class="logo" src="/images/logo-removebg-preview.png" th:src="@{/images/logo-removebg-preview.png}" alt="Hanze Logo">
    <ul class="nav__links">
        <li><a class="fileButton panelButtons">New Files</a></li>
        <li><a class="projectButton panelButtons">Personal Files</a></li>
        <li><a class="analysisButton panelButtons">Analysis</a></li>
        <li><a class="logoutButton">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <div id="list-panel" class="newFiles">
        <div class="addFiles">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z"></path>
                </svg>
            </div>
        </div>
        <div class="tooltip selected-files">
            <div class="tooltipBox">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <line x1="12" y1="17" x2="12" y2="17.01" />
                    <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                </svg>
                <span>Dit zijn je geselcteerde bestanden</span>
            </div>
        </div>
        <div class="tooltip new-files">
            <div class="tooltipBox">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <line x1="12" y1="17" x2="12" y2="17.01" />
                    <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                </svg>
                <span>Dit zijn alle nieuwe bestanden</span>
            </div>
        </div>
        <div class="fileList">
            <h3>New Files</h3>
            <ul id="current-files" class="files">
                <li th:each="files : ${filesList}" th:inline="text"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-analytics" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                    <line x1="9" y1="17" x2="9" y2="12"></line>
                    <line x1="12" y1="17" x2="12" y2="16"></line>
                    <line x1="15" y1="17" x2="15" y2="14"></line>
                </svg><span class="fileName">[[${files.fileName}]]</span><span>[[${files.date}]]</span></li>
            </ul>
        </div>
        <div class="chosen-content">
            <div class="chosenList" id="chosenlist">
                <div class="inputs">
                    <h3>New Project</h3>
                    <div class="form-group">
                        <label for="projectname">Project name*</label>
                        <input type="text" name="projectname" id="projectname" required placeholder="projectname" class="form-element">
                    </div>
                    <div class="reads">
                    </div>
                </div>
                <div class="addButton">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="lightgray" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <line x1="9" y1="12" x2="15" y2="12"></line>
                        <line x1="12" y1="9" x2="12" y2="15"></line>
                    </svg>
                    <h3>Add project to your account</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="project-panel" class="personal">
        <div class="titles">
            <h2 class="allFilesButton active">All Personal Files</h2>
            <h2 class="allProjectsButton">Personal Projects</h2>
        </div>
        <div class="all-files">
            <ul>
                <li class="headerList"><span>Filename</span><span>Label</span><span>Read</span><span>Date</span></li>
                <li th:each="files : ${testFiles}" th:inline="text"><span>[[${files.fileName}]]</span><span>Label</span><span>Read</span><span>[[${files.date}]]</span></li>
            </ul>
        </div>
        <div class="all-projects">
            <div class="projects">
                <div class="project">
                    <div class="title">
                        <div class="projectName">
                            <h4>Project Name 1</h4>
                        </div>
                        <div class="icon">
                            <div class="maximize active">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="16 4 20 4 20 8"></polyline>
                                    <line x1="14" y1="10" x2="20" y2="4"></line>
                                    <polyline points="8 20 4 20 4 16"></polyline>
                                    <line x1="4" y1="20" x2="10" y2="14"></line>
                                    <polyline points="16 20 20 20 20 16"></polyline>
                                    <line x1="14" y1="14" x2="20" y2="20"></line>
                                    <polyline points="8 4 4 4 4 8"></polyline>
                                    <line x1="4" y1="4" x2="10" y2="10"></line>
                                </svg>
                            </div>
                            <div class="minimize">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-minimize" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="5 9 9 9 9 5"></polyline>
                                    <line x1="3" y1="3" x2="9" y2="9"></line>
                                    <polyline points="5 15 9 15 9 19"></polyline>
                                    <line x1="3" y1="21" x2="9" y2="15"></line>
                                    <polyline points="19 9 15 9 15 5"></polyline>
                                    <line x1="15" y1="9" x2="21" y2="3"></line>
                                    <polyline points="19 15 15 15 15 19"></polyline>
                                    <line x1="15" y1="15" x2="21" y2="21"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="filename">Placeholder filename</div>
                        <div class="label">
                            <label for="flabel">Label: </label>
                            <input type="text" id="flabel" name="labelname" placeholder="Your label..">
                        </div>
                        <div class="reads">
                            <label for="fread">Read: </label>
                            <input type="text" id="fread" name="readnum" placeholder="Read number..">
                        </div>
                        <input type="submit" value="Update">
                    </div>
                    <div class="content">
                        <div class="filename">Placeholder filename</div>
                        <div class="label">
                            <label for="flabel">Label: </label>
                            <input type="text" id="flabel" name="labelname" placeholder="Your label..">
                        </div>
                        <div class="reads">
                            <label for="fread">Read: </label>
                            <input type="text" id="fread" name="readnum" placeholder="Read number..">
                        </div>
                        <input type="submit" value="Update">
                    </div>
                </div>
                <div class="project">
                    <div class="title">
                        <div class="projectName">
                            <h4>Project Name 2</h4>
                        </div>
                        <div class="icon">
                            <div class="maximize active">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="16 4 20 4 20 8"></polyline>
                                    <line x1="14" y1="10" x2="20" y2="4"></line>
                                    <polyline points="8 20 4 20 4 16"></polyline>
                                    <line x1="4" y1="20" x2="10" y2="14"></line>
                                    <polyline points="16 20 20 20 20 16"></polyline>
                                    <line x1="14" y1="14" x2="20" y2="20"></line>
                                    <polyline points="8 4 4 4 4 8"></polyline>
                                    <line x1="4" y1="4" x2="10" y2="10"></line>
                                </svg>
                            </div>
                            <div class="minimize">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-minimize" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="5 9 9 9 9 5"></polyline>
                                    <line x1="3" y1="3" x2="9" y2="9"></line>
                                    <polyline points="5 15 9 15 9 19"></polyline>
                                    <line x1="3" y1="21" x2="9" y2="15"></line>
                                    <polyline points="19 9 15 9 15 5"></polyline>
                                    <line x1="15" y1="9" x2="21" y2="3"></line>
                                    <polyline points="19 15 15 15 15 19"></polyline>
                                    <line x1="15" y1="15" x2="21" y2="21"></line>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div class="filename">Placeholder filename</div>
                        <div class="label">
                            <label for="flabel">Label: </label>
                            <input type="text" id="flabel" name="labelname" placeholder="Your label..">
                        </div>
                        <div class="reads">
                            <label for="fread">Read: </label>
                            <input type="text" id="fread" name="readnum" placeholder="Read number..">
                        </div>
                        <input type="submit" value="Update">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="analysis-panel" class="analysis">Analysis</div>
</div>

<script type="text/javascript">
    var del = "<span id='readDelete'><svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-x' width='20' height='20' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(160,160,160)' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg></span>";
    $(".all-projects").hide();
    $("#project-panel").hide()
    $("#analysis-panel").hide()
    $(".addFiles").hide();
    $(document).ready(function(){
        $(".allFilesButton").click(function(){
            $(".all-projects").hide();
            $(".allFilesButton").addClass('active');
            $(".allProjectsButton").removeClass('active');
            $(".all-files").show();
        });
        $(".allProjectsButton").click(function(){
            $(".all-projects").show();
            $(".all-files").hide();
            $(".allFilesButton").removeClass('active');
            $(".allProjectsButton").addClass('active');
        });
        $(".fileButton").click(function(){
            $("#list-panel").show()
            $("#project-panel").hide()
            $("#analysis-panel").hide()
        });
        $(".projectButton").click(function(){
            $("#list-panel").hide()
            $("#project-panel").show()
            $("#analysis-panel").hide()
        });
        $(".analysisButton").click(function(){
            $("#list-panel").hide()
            $("#project-panel").hide()
            $("#analysis-panel").show()
        });
        $('.maximize').click(function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().children().addClass('show');
            $(this).parent().find('.maximize').removeClass('active');
            $(this).parent().find('.minimize').addClass('active');
        });
        $('.minimize').click(function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().children().removeClass('show');
            $(this).parent().find('.maximize').addClass('active');
            $(this).parent().find('.minimize').removeClass('active');
        });
        lastChecked = null;
        $("#current-files li").click(function(e){
            if (e.ctrlKey){
                $(this).toggleClass("selected");
            }
            if ($('.selected').length >= 1) {
                $(".addFiles").show();
            } else {
                $(".addFiles").hide();
            }
            if(!lastChecked){
                lastChecked = this;
                return;
            }
            if (e.shiftKey){
                var from = $("#current-files li").index(this);
                var to = $("#current-files li").index(lastChecked);
                var start = Math.min(from, to);
                var end = Math.max(from, to) + 1;
                $.each($("#current-files li").slice(start, end).filter(':not(.selected)'), function(){
                    $(this).addClass("selected");
                });
                if ($('.selected').length >= 1) {
                    $(".addFiles").show();
                } else {
                    $(".addFiles").hide();
                }
            }
            lastChecked = null;
        });

        $(".addFiles").click(function(){
            $.each($("#current-files li").filter('.selected'), function(){
                $(".inputs .reads").append("<p>" + $(this).find('.fileName').html() + del + "</p>");
                $(this).removeClass("selected");
            });
            $(".addFiles").hide();
        });
        $(document).on("click", "#readDelete", function(){
            $(this).parent().remove();
            $(".addFiles").hide();
        });
        $(function(){
            $("#current-files li").draggable({
                cursor: 'move',
                helper: function(){
                    var selected = $("#current-files li.selected");
                    if (selected.length == 0){
                        selected = $(this).addClass('selected');
                    }
                    var container = $('<div/>').attr('id', 'draggingContainer');
                    container.append(selected.clone().removeClass("selected"));
                    return container;
                }
            });
            $(".inputs").droppable({
                drop: function(event, ui) {
                    $.each($("#current-files li").filter('.selected'), function(){
                        $(".inputs .reads").append("<p>" + $(this).find('.fileName').html() + del + "</p>");
                        $(this).removeClass("selected");
                    });
                    if ($('.selected').length >= 1) {
                        $(".addFiles").show();
                    } else {
                        $(".addFiles").hide();
                    }
                }
            });
        });
    });
</script>
</body>
</html>