*, *::after, *::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 4rem;
    gap: 2rem;
    background-color: lightgray;
}
nav .logo {
    height: 3.5rem;
    margin-right: auto;
}
nav ul li,
nav ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
nav .nav__links {
    list-style-type: none;
}
nav .nav__links li {
    display: inline-block;
}
nav .nav__links li a {
    padding: 9px 16px;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}
nav .nav__links li a:not(.logoutButton) {
    transition: all 0.3s ease 0s;
}
nav .nav__links li a:hover:not(.logoutButton) {
    background-color: orange;
}
nav .nav__links li a:not(.panelButtons) {
    color: white;
    background-color: darkblue;
}

.container {
    height: calc(100vh - 4rem);
    height: -o-calc(100vh - 4rem);
    height: -moz-calc(100vh - 4rem);
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.container .personal {
    grid-row: 2/-2;
    grid-column: 2/24;
    padding: 1em;
    overflow-y: scroll;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}
.container .personal .titles {
    display: flex;
    gap: 3rem;
}
.container .personal .titles h2 {
    line-height: 1.5;
    margin-bottom: 1rem;
}
.container .personal .titles h2.active {
    border-bottom: 1px solid black;
}
.container .personal .all-projects .projects {
    display: flex;
    flex-direction: column;
}
.container .personal .all-projects .projects .project {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}
.container .personal .all-projects .projects .project .content + .content {
    border-top: 1px solid darkgray;
    border-width: fit-content;
}
.container .personal .all-projects .projects .project .content {
    opacity: 0;
    display: none;
    min-height: 3rem;
}
.container .personal .all-projects .projects .project .content.show {
    opacity: 1;
    display: flex;
    margin: 0 1rem;
    justify-content: space-around;
    align-items: center;
    -webkit-animation: visible 0.7s;
    animation: visible 0.7s;
}
.container .personal .all-projects .projects .project .title {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .personal .all-projects .projects .project .title .icon div:not(.active) {
    display: none;
}
.container .personal .all-projects .projects .project .title .icon:hover {
    stroke: gray;
}
.container .personal .all-files ul {
    margin: 10px 15px 15px 15px;
    padding-left: 0;
}
.container .personal .all-files ul .headerList {
    font-weight: bold;
}
.container .personal .all-files ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container .personal .all-files ul li span {
    width: 23%;
    text-align: center;
    margin-bottom: 5px;
}
.container .personal .all-files ul li span:last-of-type {
    text-align: right;
}
.container .personal .all-files ul li span:first-of-type {
    text-align: left;
}
.container .newFiles {
    grid-column-start: 3;
    grid-column-end: 23;
    grid-row-start: 2;
    grid-row-end: 10;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.container .newFiles .addFiles {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .newFiles .addFiles .icon {
    height: 48px;
    width: 48px;
}
.container .newFiles .addFiles .icon :hover {
    cursor: pointer;
}
.container .newFiles .tooltip {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2px;
}
.container .newFiles .tooltip .tooltipBox {
    width: 24px;
    height: 24px;
    position: relative;
}
.container .newFiles .tooltip .tooltipBox:hover > span {
    visibility: visible;
}
.container .newFiles .tooltip .tooltipBox span {
    visibility: hidden;
    width: 8rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    margin-left: -4rem;
    position: absolute;
    bottom: 110%;
    left: 50%;
}
.container .newFiles .selected-files {
    grid-column-start: 24;
    grid-column-end: 25;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container .newFiles .new-files {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}
.container .newFiles .fileList {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row: 1/-1;
    border: 1px solid black;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 100%;
}
.container .newFiles .fileList ul {
    margin: 10px 15px 15px 15px;
    padding: 0;
}
.container .newFiles .fileList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 0 8px 0;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container .newFiles .fileList ul li .fileName {
    margin-right: auto;
}
.container .newFiles .fileList h3 {
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
    margin-left: 3em;
    margin-right: 3em;
}
.container .newFiles .chosen-content {
    grid-column-start: 12;
    grid-column-end: 24;
    height: 100%;
    grid-row: 3/9;
    border: 1px solid black;
    border-radius: 0.375rem;
}
.container .newFiles .chosen-content .chosenList {
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    height: 100%;
    max-height: 100%;
}
.container .newFiles .chosen-content .chosenList .inputs {
    grid-row: 1/9;
    overflow-y: scroll;
    overflow-x: scroll;
}
.container .newFiles .chosen-content .chosenList .inputs h3 {
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
    margin-left: 3em;
    margin-right: 3em;
}
.container .newFiles .chosen-content .chosenList .inputs .form-group {
    margin: 1rem 0 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 17px;
    gap: 3rem;
}
.container .newFiles .chosen-content .chosenList .inputs .form-group input {
    height: 1.8rem;
}
.container .newFiles .chosen-content .chosenList .inputs .reads {
    margin: 0.675rem 0.375rem 0.675rem 0.375rem;
}
.container .newFiles .chosen-content .chosenList .inputs .reads p {
    width: 100%;
    padding-bottom: 0.375rem 0.675rem 0 0.675rem;
    margin: 0 0 0.375rem 0;
}
.container .newFiles .chosen-content .chosenList .inputs .reads p span {
    width: 24px;
    height: 24px;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .newFiles .chosen-content .chosenList .inputs .reads p span:hover svg {
    stroke: black;
    cursor: pointer;
}
.container .newFiles .chosen-content .chosenList .inputs .reads p:last-child {
    padding-bottom: 0;
}
.container .newFiles .chosen-content .addButton {
    grid-row: 11/-1;
    margin: 0.375rem;
    border-radius: 0.375rem;
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    gap: 1rem;
}
.container .newFiles .chosen-content .addButton:hover svg,
.container .newFiles .chosen-content .addButton:hover h3 {
    stroke: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.container .newFiles .chosen-content .downloadButton {
    grid-row: 9/11;
    margin: 0.375rem;
    border-radius: 0.375rem;
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    gap: 1rem;
}
.container .newFiles .chosen-content .downloadButton:hover svg,
.container .newFiles .chosen-content .downloadButton:hover h3 {
    stroke: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

@-webkit-keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.selected {
    background-color: rgba(90, 90, 90, 0.9) !important;
    color: white;
}

.none-used {
    background-color: white;
}

.low-used {
    background-color: #F7E7A6;
}

.medium-used {
    background-color: #F8CBB0;
}

.high-used {
    background-color: #F7A9A6;
}

.

